.navbar {
  /*background-color: #ffc529!important;*/
  border-bottom: 1px solid #ffffff;
  font-family: 'Cairo', sans-serif;
  font-weight: normal;
  padding: 5px;
}


.navbar-brand {
  font-family: 'TT Supermolot Neue Exp DBold', sans-serif;
  font-weight: bold;
  color: #ffc529!important;
  font-size: 2.3em;
}

.navbar a {
  color: #ffc529!important;
  padding: 5px;
  margin: 3px;
}

.navbar a:hover {
  color:  #FFFFFF;
}

.img-principal {
  float: right;
  width: 50%;
  z-index: 0;
  text-align: right;
}

.txt-principal {
  float: left;
  width: 50%;
  border-bottom: 3px solid #ffc529;
  padding: 10px;
}

.txt-principal h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.slogan {
  z-index: 999;
  background-color: #ffc529;
  color: #FFFFFF;
  text-align: left;
  letter-spacing: 0.8em;
  padding: 8px;
  font-family: 'Cairo', sans-serif;
  border-bottom: 2px solid #ffffff;
}

.social {
  letter-spacing: 0.3em;
  text-align: right;
  font-size: 1.4em;
  float: right;
  margin-top: -4px;
}
.social a {
  color: #FFFFFF;
  margin: 0;
}


section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #ffc529;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #000000;
}

.navbar-toggler-icon {
  color: #ffc529!important;
  z-index: 999;
}

.navbar-dark .navbar-toggler {
  color: #ffc529!important;
  z-index: 999;
  border-color: #ffc529;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  height: 100vh;
  /*background: url('assets/img/hero-bg.jpg') top center no-repeat;
  background-size: cover;*/
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #ffc529;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}
/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/


.services .box {
  padding: 10px;
  border: 1px solid #cccccc;
  text-align: center;
  transition: 0.3s;
  height: 100%;
  border-radius: 8px;
}

.services .box img {
  padding: 20px;
  transition: 0.5s;
  transform: scale(1.1);
}

.services .box h3 {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 20px;
}


.services .box:hover img {
  transform: scale(1);
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0;
  background: url('assets/img/hero-bg.jpg') top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.team .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #000;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url('assets/img/team-shape-bk.svg') no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}

.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.team .member .social a {
  transition: color 0.3s;
  color: rgba(1, 41, 112, 0.5);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.team .member .social a:hover {
  color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #ffc529;
}

.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #dddddd;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #aaaaaa;
}

.team .member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
  right: 8px;
  opacity: 1;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: url('TTSupermolotNeue-ThinItalic.eot');
    src: local('TT Supermolot Neue Thin Italic'), local('TTSupermolotNeue-ThinItalic'),
        url('TTSupermolotNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('TTSupermolotNeue-ThinItalic.woff2') format('woff2'),
        url('TTSupermolotNeue-ThinItalic.woff') format('woff'),
        url('TTSupermolotNeue-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp DBold';
    src: url('TTSupermolotNeue-ExpDBold.eot');
    src: local('TT Supermolot Neue Expanded DemiBold'), local('TTSupermolotNeue-ExpDBold'),
        url('TTSupermolotNeue-ExpDBold.eot?#iefix') format('embedded-opentype'),
        url('TTSupermolotNeue-ExpDBold.woff2') format('woff2'),
        url('TTSupermolotNeue-ExpDBold.woff') format('woff'),
        url('TTSupermolotNeue-ExpDBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';
    src: url('TTSupermolotNeue-ExpBlack.eot');
    src: local('TT Supermolot Neue Expanded Black'), local('TTSupermolotNeue-ExpBlack'),
        url('TTSupermolotNeue-ExpBlack.eot?#iefix') format('embedded-opentype'),
        url('TTSupermolotNeue-ExpBlack.woff2') format('woff2'),
        url('TTSupermolotNeue-ExpBlack.woff') format('woff'),
        url('TTSupermolotNeue-ExpBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  background-color: #333;
}

#contact p {
  color: #FFFFFF;
}

.contact .info-box {
  color: #444444;
  background: #888888;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #ffc529;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: #cccccc;
  padding: 30px;
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border: 2px solid #ffc529;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #ffc529;
  border: 0;
  padding: 10px 30px;
  color: #000;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #5969f3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 1023px) {
  .mobi {
    display: inline;
  }

  .desktop {
    display: none!important;
  }
  .slogan {
    background-color: #ffc529;
    letter-spacing: 0.4em;
  }
}

@media (min-width: 1024px) {
  .desktop {
    display: inline;
  }

  .mobi {
    display: none!important;
  }
}
