.navbar {
  background-color: #231e22!important;
  border-bottom: 1px solid #ffffff;
  font-family: 'Cairo', sans-serif;
  font-weight: normal;
  padding: 5px;
}

.logo {
  width: 100px;
}

.navbar-brand {
  font-family: 'TT Supermolot Neue Exp DBold', sans-serif;
  font-weight: bold;
  color: #ffc529!important;
  font-size: 2.3em;
}

.navbar a {
  color: #ffc529!important;
  padding: 5px;
  margin: 3px;
}

.navbar a:hover {
  color: #FFFFFF!important;
}

.img-principal {
  float: right;
  width: 50%;
  z-index: 0;
  text-align: right;
}

.txt-principal {
  float: left;
  width: 50%;
  border-bottom: 3px solid #ffc529;
  padding: 10px;
}

.txt-principal h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.slogan {
  z-index: 999;
  background-color: #ffc529;
  color: #FFFFFF;
  text-align: left;
  letter-spacing: 0.8em;
  padding: 8px;
  font-family: 'Cairo', sans-serif;
  border-bottom: 2px solid #ffffff;
}

.social {
  letter-spacing: 0.3em;
  text-align: right;
  font-size: 1.4em;
  float: right;
  margin-top: -4px;
}
.social a {
  color: #FFFFFF;
  margin: 0;
}


section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #ffc529;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #000000;
}

.navbar-toggler-icon {
  color: #ffc529!important;
  z-index: 999;
}

.navbar-dark .navbar-toggler {
  color: #ffc529!important;
  z-index: 999;
  border-color: #ffc529;
}

/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/


.services .box {
  padding: 10px;
  border: 1px solid #cccccc;
  text-align: center;
  transition: 0.3s;
  height: 100%;
  border-radius: 8px;
}

.services .box img {
  padding: 20px;
  transition: 0.5s;
  transform: scale(1.1);
}

.services .box h3 {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 20px;
}


.services .box:hover img {
  transform: scale(1);
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0;
  background-color: #ffc529;
  /*background: url('assets/img/hero-bg.jpg') top center no-repeat;
  background-size: cover;
  background-attachment: fixed;*/
}

.team .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #000;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url('assets/img/team-shape-bk.svg') no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}

.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.team .member .social a {
  transition: color 0.3s;
  color: rgba(1, 41, 112, 0.5);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.team .member .social a:hover {
  color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #ffc529;
}

.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #dddddd;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #aaaaaa;
}

.team .member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
  right: 8px;
  opacity: 1;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: url('TTSupermolotNeue-ThinItalic.eot');
    src: local('TT Supermolot Neue Thin Italic'), local('TTSupermolotNeue-ThinItalic'),
        url('TTSupermolotNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('TTSupermolotNeue-ThinItalic.woff2') format('woff2'),
        url('TTSupermolotNeue-ThinItalic.woff') format('woff'),
        url('TTSupermolotNeue-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp DBold';
    src: url('TTSupermolotNeue-ExpDBold.eot');
    src: local('TT Supermolot Neue Expanded DemiBold'), local('TTSupermolotNeue-ExpDBold'),
        url('TTSupermolotNeue-ExpDBold.eot?#iefix') format('embedded-opentype'),
        url('TTSupermolotNeue-ExpDBold.woff2') format('woff2'),
        url('TTSupermolotNeue-ExpDBold.woff') format('woff'),
        url('TTSupermolotNeue-ExpDBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';
    src: url('TTSupermolotNeue-ExpBlack.eot');
    src: local('TT Supermolot Neue Expanded Black'), local('TTSupermolotNeue-ExpBlack'),
        url('TTSupermolotNeue-ExpBlack.eot?#iefix') format('embedded-opentype'),
        url('TTSupermolotNeue-ExpBlack.woff2') format('woff2'),
        url('TTSupermolotNeue-ExpBlack.woff') format('woff'),
        url('TTSupermolotNeue-ExpBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  background-color: #333;
}

#contact p {
  color: #FFFFFF;
}

.contact .info-box {
  color: #444444;
  background: #888888;
  padding: 30px;
  min-height: 230px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #ffc529;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: #cccccc;
  padding: 30px;
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border: 2px solid #ffc529;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #ffc529;
  border: 0;
  padding: 10px 30px;
  color: #000;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #5969f3;
}

.social-link {
  text-align: center;
  margin: auto!important;
}

.contact .info-box .social-link i {
  font-size: 4.1em!important;
  display: inline-block;
  color: #ffc529;
  line-height: 0;
  transition: 0.3s;
}

.contact .info-box .social-link i:hover {
  color: #dddddd!important;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background-color: #231e22;
  padding: 0 0 30px 0;
  font-size: 14px;
}

.footer .footer-top {
  background: #ffc529 url('assets/img/footer-bg.png') no-repeat right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin: auto;
  max-width: 150px;
}

.footer .footer-top .footer-info .logo img {
  max-width: 100px!important;
  margin: auto
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}

.footer .social-links a:hover {
  color: #ffc529;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin: auto;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #000000;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #333333;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: #000000;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #ffc529;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}




@media (max-width: 1023px) {
  .mobi {
    display: inline;
  }

  .desktop {
    display: none!important;
  }
  .slogan {
    background-color: #ffc529;
    letter-spacing: 0.4em;
    text-align: center;
  }

  .contact .info-box {
    text-align: center;
    padding-top: 30px;
    min-height: none;
  }
}

@media (min-width: 1024px) {
  .desktop {
    display: inline;
  }

  .mobi {
    display: none!important;
  }

  .logo {
    margin-right:15px;
  }
}
